.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.links-container {
    display: flex;
}

@media(min-width: 600px) {
    .nav-container {
        justify-content: space-between;
    }
}

a:hover, a:active, a:focus {
    outline: 0;
}